<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>loader</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  
    <!--
      <div id="load">
    <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">loader</ion-title>
    </ion-toolbar>
  </ion-header>
  -->
  
  <!--
    <ion-img src="assets/img/(731).png"></ion-img>
   
  </div>-->
 
<div class="flex-centerr">
 <!--<ion-spinner name="crescent">hello</ion-spinner>--> 
 <img src="./../../../assets/Loading_icon.gif" alt="">
</div>
  
</ion-content>
