<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Contact us 
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="flex-center">
<ion-card class="card">
  <img alt="Silhouette of mountains" src="./../../../assets/wh.jpg"  width="130px"  height="130px" />
  <ion-card-header>
    <ion-card-title><h3>We are available for communication through WhatsApp.</h3></ion-card-title>
    <ion-card-subtitle>This is our contact number</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    0600000000
  </ion-card-content>
</ion-card>
<ion-card class="card">
  <img alt="Silhouette of mountains" src="./../../../assets/in.jpg" />
  <ion-card-header>
    <ion-card-title><h3>For any inquiries, please don't hesitate to contact us on Instagram</h3></ion-card-title>
    <ion-card-subtitle>You can reach us at this page</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    https://www.instagram.com/
  </ion-card-content>
</ion-card>
</div>