.bg-img {
    padding: 1px;
    height: 100%;
    width: 100%;
   // background-image: url('../../../assets/backk.jpg');
    background-color: #bd41ac;
   background-repeat: no-repeat;
    background-size: cover;
  }
  .bb{
    background-color: #ce5ebf;
  }
  h1 {
    color: rgb(255, 255, 255);
    margin-left: 20px;
    font-size: 30px;
  }
  h5 {
    color: #0c0101;
    margin-left: 20px;
    margin-top: -7px;
    font-size: medium;
    margin-bottom: 15px;
    text-transform: capitalize;
  }
  
  .add-button {
    //--background: #090041;
    position: absolute;
    bottom: 5px;
    width: 96%;
    --color: #ffffff;
    margin-left: 2%;
  }