<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      About us
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="flex-center">
<ion-card>
  <img alt="Silhouette of mountains" src="./../../../assets/wel.jpg" />
 
  <ion-card-header>
    <h3>Welcome to our To-Do List App! We are passionate about helping you stay organized and productive. Our app is designed to simplify your daily tasks and ensure you never miss an important deadline.</h3>
  </ion-card-header>

  
</ion-card>
</div>