
/*
ion-content{
    --background: #157cac ;
}*/
#load{
    background: #000 url(./../../../assets/img/load.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
h1{
    color: #0c5ca7;
}
.bt{
    --background: #dcf767;
    color: #07609c;
}
.btt{
    color:#dcf767;
}